*{
    margin: 0;
}

.main{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
     font-family: 'Segoe UI', sans-serif;
    
    
}
.header{
    display: flex;
    height: 80px;
    justify-content:space-around;
    align-items: center;
    font-family: 'Noto Sans JP', Helvetica, sans-serif;
    padding: 20px;
    
}
.head{
    position: fixed;
    top: 0;
    width: 100%;
    
}

.headeroptions{
    display: flex;
    gap: 30px;
    line-height: 5px;
    align-items: center;
    justify-content: center;
}
.logoimg{
    width: 200px;
    height: 90px;
}
.menu{
    font-size: 15px;
    transition-duration: 2s;
    font-weight: 400;
}
.menu:hover{
    transform:translate(color) ;
    color: blue;
}
.menutxt{
    font-size: 13px;
    color: rgb(59, 23, 176);
    font-weight: 400;
}
.user{
    height: 30px;
    width: 30px;
}
.menu_icon{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}




.footer{
    background-color: rgba(229, 227, 227, 0.878);
}

.footer_top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.first_section{
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    
}
.first_section a{
    display: flex;
    font-size: 13px;
    gap: 5px;
    
}
.first_section h3{
    font-weight: 500;
    color: gray;
}
.loc{
    font-size: 13px;
}
.logodiv{
    display: flex;
    align-items: flex-start;
    padding: 0;
    background-color:rgba(229, 227, 227, 0.878);
    height: 50px;
}
.f1{
    display: flex;
    align-items: flex-start;
    
}
.footlogo{
    width: 200px;
    height: 90px;
}
.footerlogos{
    display: flex;
    width: 100%;

    /*align-items: flex-start;
    justify-content: flex-start; */
}
.second_section a{
 display: flex;
 font-weight: 600;
 transition-duration: 2s;
 
}
.second_section a:hover{
    color: #00b8ff;
    
    
}
.email_block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email_block input{
    border: none;
    padding: 10px;
    border-radius: 7px;
}
.submit{
    width: 100px;
    color: white;
    background-color: #00b8ff;
}
.third_section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 550px;
    margin-top: 20px;
}
.buttonarea{
    display: flex;
    width: 100%;
    gap: 10px;

}
.request{
    background-color: #00b8ff;
    color: white;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 250px;
    height: 40px;
    padding: 10px;
    
}
.career{
    width: 180px;
}
.third_section h3{
    color: gray;
}

