<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
             <div class="doc_list">
                    <ul>
                        
                        {% for d in doctors %}
                            <a href="{%}">
                               <input type="button" value="BOOK NOW" class="bookbutton">
                            </a>
                            
                            <div class="doctorlist">
                                {{ d.doctor }}  
                                {{ d.specilization }}  
                                {{ d.location }}
                                {{d.gender}}
                            </div>
                        {% empty %}
                            <li>No doctors found in this location.</li>
                        {% endfor %}
                    </ul>
             </div>    
</body>
</html>